<!DOCTYPE html>

<head>
    <title>String formatter</title>
</head>
<body>

<h2>String formatter</h2>

<form method="POST" name="myForm">
    <p><input id="inputString" type="text" ></p>
    <input value="Submit" type="button" onclick="send()">
</form>
<div id="outputString"></div>



<script
        src="https://code.jquery.com/jquery-1.9.1.js"
        integrity="sha256-e9gNBsAcA0DBuRWbm0oZfbiCyhjLrI6bmqAl5o+ZjUA="
        crossorigin="anonymous"></script>
<script src="/send.js" type="text/javascript"></script>
</body>
</html>